@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: #fcfcfc;
    font-size: 20px;
    font-weight: 200;
    color: black;
  }

  .heading{
    font-size: 30px;
  }