@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {

  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  background-color: #fcfcfc;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;

}

.navbar {
    margin-top: 0;
    top: -35px; 
    clear: both;
  height: 106px;
  background-color: #EAF8F9;
  position: relative;

}


.Logo {
 font-weight: 400;
 font-size: 50px;
margin-left: 5px;
display: flex;
margin-left:35px;
  
}

.HB {
  display: none;
}


.loginbtn{
  width: 114px;
    height: 40px;
    justify-content: right;
    align-items: center;
    margin-right: 35px;
    background-color: #2DD3E3;
    border-radius: 4px;
    text-align: center;
    padding: 15px , 15px ,15px 15px;
   
  
}


.nav-elements ul{
 flex: content;
  display: flex;
  justify-content: space-between;
  list-style-type: none;

}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
 
}

.nav-elements ul a.active {
  color: #262020;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
    margin-left: 20px;
    
  }

}

@media (max-width: 600px) {
  .HB{
    display: block;
    cursor: pointer;
    
  }


  @media screen and (max-width: 600px) {
    .Logo{
      width: 190px;
    }
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #EAF8F9;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}



@media screen and (max-width: 600px) {
  .Logo{
    align-items: center;
    width: 190px;
    font-size: 30px;
  }
}

.dropbtn{
  margin-right:5px ;

}
.dropdown {
  float: left;
  overflow: hidden;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  text-decoration: underline;
  background-color: #2DD3E3;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EAF8F9;
  min-width: 150px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #ddd;
}



.dropdown:hover .dropdown-content {
  display: block;
}