.footer-container{ 

    
    background: #FEE89E;
    
    }
    /* .homee{
   
    height: 78.69px;
    left: 65.14%;
    right: 28.96%;
    top: calc(50% - 78.69px/2 - 38.66px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #718096;
    } */
    
    /* .blogss{
      
        height: 78.69px;
        left: 72.43%;
        right: 21.67%;
        top: calc(50% - 78.69px/2 - 38.66px);
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1px;
        
        color: #718096;
    }
    
     .Aboutt{
      
   
    height: 78.69px;
    left: 79.72%;
    right: 14.38%;
    top: calc(50% - 78.69px/2 - 38.66px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    
    color: #718096;
    }
    
    
    .contactt{
       
    height: 78.69px;
    left: 87.01%;
    right: 7.08%;
    top: calc(50% - 78.69px/2 - 38.66px);
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    
    /* display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.1px;
    
    color: #718096;
    
    } */ 
    
    /* .socialmedia{
        display: flex;
        gap: 1.3rem ;
        font-size: 1.5rem ;
        align-items: center;
    } */
    
    .facebook{
    
    left: 4.17%;
    right: 4.17%;
    top: 4.17%;
    bottom: 4.17%;
    
    }
    
    
     .google{
        
        left: 4.17%;
        right: 4.17%;
        top: 4.17%;
        bottom: 4.17%;
        

        
        
    } 
    
    /* .img3{
    
    position: absolute;
    left: -12.5%;
    right: 8.33%;
    top: 0%;
    bottom: -4.17%;
    background: #1A1A1A;
    } */
    
    
    .twitter{
       
        
        
        
    }
    
    
    
    .header1{
        width: 500px;
        height: 44px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.18px;
        color: #1A1A1A;
        flex: none;
        order: 0;
        align-self: flex-start;
        flex-grow: 0;
    }
    
    
    
    .Paragraph1{
        width: 500px;
        height: 22px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.075px;
        color: #718096;
        flex: none;
        order: 1;
        align-self: flex-start;
        flex-grow: 0;
    }  
    
     /* .input-area{
        position: absolute;
        left: 16px;
        right: 74px;
        top: 8px;
        bottom: 8px;
        /* background: #FFFFFF;
        border: 2px solid #718096;
        border-radius: 6px; */
     */

    .footer-input{
        
    position: absolute;
    left: 16px;
    right: 74px;
    top: 8px;
    bottom: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    
    color: #718096;
    }